<html>
    <head>SORRY!</head>
    <body  background="https://vkd-weather-app.herokuapp.com/images/failedemoji.jpg" background="http://localhost:3000/images/failedemoji.jpg">
        <h1>{{message}}</h1>
        <button onclick="window.location.href='/'" style=" border: none; color: rgb(220, 236, 234); padding: 10px ;background: #1c12a8; cursor: pointer; transition: background .3s ease">TRY AGAIN</button>
    </body>
</html>